:root {
    font-size: 16px;
}

.flex-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.currencies {
    margin-top: 1rem;
}

.amount,
.button,
.value {
    margin-top: 5rem;
}